<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="%SystemDrive%\www\html" path="404.html" responseMode="File" />
            <error statusCode="403" prefixLanguageFilePath="%SystemDrive%\www\html" path="403.html" responseMode="File" />
            <error statusCode="502" prefixLanguageFilePath="%SystemDrive%\www\html" path="502.html" responseMode="File" />
            <error statusCode="418" prefixLanguageFilePath="%SystemDrive%\www\html" path="418.html" responseMode="File" />
        </httpErrors>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="PHP_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\xampp\php\php-cgi.exe" resourceType="Either" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <globalization fileEncoding="utf-8" />
        <compilation maxBatchGeneratedFileSize="10000" />
    </system.web>
</configuration>
